@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --clr-dark: black;
    --clr-light: #fcd1d7;
    --clr-med: #e9b1cd;
    --clr-pink: pink;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: var(--clr-light);
    padding: 0;
    margin: 0;
    color: var(--clr-dark);
}

body .page {
    margin: 20px 80px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--clr-light);
    padding: 10px 0px;
}

nav .onglet {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglet a {
    margin-right: 20px;
    cursor: pointer;
    color: var(--clr-dark);
    font-size: 20px;
}

nav .bouton button {
    font-family: 'Playfair Display', serif;
    padding: 10px 20px;
    color: var(--clr-dark);
    border: none;
    background-color: var(--clr-med);
    font-size: 18px;
    cursor: pointer;
}

.connexion {
    padding: 10px 20px;
    color: var(--clr-dark);
    border: none;
    background-color: var(--clr-med);
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

header {
    margin-top: 40px;
    background-image: url(../img/vuedehaut.png);
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: center;
}

header h1 {
    text-align: center;
    font-size: 20px;
    padding: 200px;
}

footer {
    background-color:var(--clr-med);
    padding: 25px 100px;
    color: var(--clr-dark);
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 200px;
}

footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oeuvre {
    text-align: center;
    background-color: var(--clr-pink);
    margin: 50px;
    width: 50%;
}

.sakura {
    text-align: center;
    background-color: var(--clr-pink);
    margin: 50px;
    width: 50%;
}

.ensemble {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.explica {
    margin: 50px;
    background-color: var(--clr-pink);
    text-align: center;
    padding: 15px;
}

.navpag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.dark-mode {
    --clr-dark: white;
    --clr-light: #232524;
    --clr-med: black;
    --clr-pink: black;
    --clr-deg: black;
}

.theme-toggle {
    padding: 10px;
    display: block;
    margin: auto;
}

/*TABS*/
[role="tablist"] {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
  
[aria-selected="true"] {
    text-decoration-thickness: 0.25em;
    text-underline-offset: 0.5em;
    color: var(--clr-dark);
}
  
.tabs-container {
    padding: 20px;
    border-radius: 0.5rem;
    background: var(--clr-pink);
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    width: min(50rem, 100% - 2rem);
    margin-inline: auto;
}
  
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h2 {
    text-align: center;
}

/*Pour  le menu burger*/
.regroupement {
    padding: 20px;
}
.accordeon {
    border: 1px solid rgba(146, 146, 146, 0.3);
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}
.titre {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre img {
    width: 20px;
    height: 20px;
    transition: 0.4s;
}
.titre p {
    font-weight: 700;
    color: var(--clr-dark);
}
.contenu {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.4s;
}
.accordeon.open.titre img {
    transform-origin: center;
    transform: rotate(90deg);
}

.accordeon.open .contenu {
    padding: 30px 20px;
    height: auto;
    visibility: visible;
}

/*Début pour le responsive*/
@media all and (max-device-width: 480px) {
    header {
        background-image: none;
        margin-top: none;
    }

    header h1{
        padding: 0;
        margin: 1%;
    }
   
    footer {
        background-image: none;
    }

    .colonnes {
        display: flex;
        flex-wrap: wrap;
    }
    main {
        background-image: url(img/cercle.png);
        background-repeat: no-repeat;
        background-size: 340px;
        background-position: center;
    }

    nav .onglet {
        display: flex;
        justify-content: left;
    }

    nav .bouton {
        display: flex;
        justify-content: right;
    }

    .box {
        display: none;
    }
}
/*Fin pour le responsive*/